<!--login-->

<div class="row align-items-center" style="height: 100vh;">
    <div class="p-3 mx-auto col-10 col-md-6 col-lg-4 bg-black rounded">
            <div class="header text-center py-2 text-white">
                <h1>Biblio Library</h1>
            </div>
            <br>
        <h3 class="text-white">Log In</h3>
        <form class="form login-form">
            <div class="mb-3 form-group">
                <label for="library-card" class="form-label text-white">Library Card ID:</label>
                <input class="form-control" type="text" id="cardId-login" />
            </div>
            <div class="mb-3 form-group">
                <label for="password-login" class="form-label text-white">Password:</label>
                <input class="form-control" type="password" id="password-login" />
            </div>
            <div class="mb-3 form-group">
                <button class="btn btn-light" type="submit">Login</button>
            </div>
            <br>
            <div class="text-center text-white fs-6">
                <div class="text-center">
                    <h4>Hours</h4>
                    <ul style ="list-style-type: none; padding-left:0;">
                        <li>Mon-Fri: 10am-9pm </li>
                        <li>Sat-Sun: 10am-6pm </li>
                    </ul>
                    <h4>Contact Us</h4>
                    <ul style ="list-style-type: none; padding-left:0;">
                        <li>Phone: +1 202-918-2132</li>
                        <li>Email: biblio_library@biblio.com</li>
                    </ul>
                </div>
            </div>
            <br class = "bg-light">
            <div class="text-center text-white fs-6">
                <div class="text-center">
                    <p >Biblio Library @2023 All Rights Reserved</p>
                </div>
            </div>
        </form>
    </div>

    <script src="/js/login.js"></script>