<div class="row">
  <div class="mx-auto col-10 col-md-6 col-lg-4">
    <h2>Log In</h2>
    <form class="form login-form">
      <div class="mb-3 form-group">
        <label for="library-card" class="form-label">Library Card ID:</label>
        <input class="form-control" type="text" id="cardId-login" />
      </div>
      <div class="mb-3 form-group">
        <label for="password-login" class="form-label">Password:</label>
        <input class="form-control" type="password" id="password-login" />
      </div>
      <div class="mb-3 form-group">
        <button class="btn btn-dark" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="mx-auto col-10 col-md-6 col-lg-4">
     <h2>Sign Up</h2>
    <form class="form signup-form">
      <div class="mb-3 form-group">
        <label for="name-signup" class="form-label">Name:</label>
        <input class="form-control" type="text" id="name-signup" />
      </div>
      <div class="mb-3 form-group">
        <label for="email-signup" class="form-label">Library Card ID:</label>
        <input class="form-control" type="text" id="cardId-signup" />
      </div>
      <div class="mb-3 form-group">
        <label for="password-signup" class="form-label">Password:</label>
        <input class="form-control" type="password" id="password-signup" />
      </div>
      <div class="mb-3 form-group">
        <button class="btn btn-dark" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="/public/js/login.js"></script>
