<!-- Loop over each object in the loans array -->
{{#each loans as |loan| }}
<div class="loan-card ol-10 col-md-12 col-lg-8 text-center border border-dark-subtle rounded shadow-sm bg-dark-subtle">
  <div class="col-md-5">
    <h3>
      {{book.title}} by {{book.author}}
    </h3>
    <p>Loan Date: {{format_date loan.checkoutDate}}</p>
    <p>Due Date: {{format_date loan.Duedate}}</p>
  </div>
</div>
{{/each}}